<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
	<script src="https://raw.github.com/jquery/jquery-tmpl/master/jquery.tmpl.min.js"></script>
	<script src="core.js"></script>
	<link rel="stylesheet" href="style.css">
	<script id="gameTemplate" type="text/x-jquery-tmpl">
		{{each val}}
		 	<div class="numbers" data-value=${$value}><span class="numbervalue">${$value}</span></div>
   		{{/each}}
	</script>
</head>

<html lang="en">
	
	<body>

		<section>
			<header>
			     <h1>Memory Game JS!</h1>
			</header>
			<div id="content"></div>
		</section>

		<footer>
			<p>&copy; 2013 challenges</p>
		</footer>
	
	</body>

</html>